* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.generate {
    margin: auto;
}

.timer {
    margin: auto;
}

input[type=text] {
    width: 10%;
}

input[type=number] {
    width: 5%;
}