html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.column.left {
    float: left;
    width: 25%;
}

.column.middle {
    margin: auto;
    width: 50%;
    text-align: center;
}

.column.right {
    float: right;
    width: 25%;
}

#intro {
    margin: auto;
    text-align: center;
}

input[type=text] {
    max-width: 356px;
    width: 47.6%;
    text-align: left;
}

#generation {
    margin: auto;
    text-align: center;
}

/* #storage {
    width: 23%;
    height: 300px;
    background-color: lightblue;
    outline-style: solid;
    outline-width: 1px;
} */

#quotes {
    max-width: 627px;
    width: 42.1%;
    height: 35%;
    background-color: lightgray;
    outline-style: solid;
    outline-width: 1px;
}

#timer {
    margin: auto;
}

input[type=number] {
    width: 75px;
    text-align: center;
}

textarea {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    height: 100%;
    border: 1px solid;
    font-size: 16px;
    resize: none;
}

#credentials {
    margin: 1%;
    height: 1%;
    /* text-align: center; */
}