html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.column.left {
    float: left;
    width: 25%;
}

.column.middle {
    margin: auto;
    width: 50%;
    text-align: center;
}

.column.right {
    float: right;
    width: 25%;
}

#intro {
    text-align: center;
    /* insert more parameters here */
}

input[type=text] {
    max-width: 356px;
    width: 47.5%;
    text-align: left;
}

#userGeneration {
    text-align: center;
}

/* #storage {
    width: 23%;
    height: 300px;
    background-color: lightblue;
    outline-style: solid;
    outline-width: 1px;
} */

#generatedPrompts {
    padding-top: 1px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 1px;
    max-width: 594px;
    height: 30%;
    background-color: lightgray;
    outline-style: solid;
    outline-width: 1px;
    text-align: left;
}

#theme {
    font-weight: bold;
}

#timer {
    padding: 0;
    /* insert more parameters here */
}

input[type=number] {
    width: 75px;
    text-align: center;
}

#textEditor {
    /* max-width: 600px; */
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 626px;
    height: 50%;
    background-color: lightgray;
    outline-style: solid;
    outline-width: 1px;
}

#editor {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    max-width: 606px;
    width: 63.5%;
    height: 91.5%;
    border: 1px solid;
    font-size: 16px;
    resize: none;
}